*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* leva em consderção o tamanho das bordas */

}
body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

form header p{
    font-size: 30px;
    margin-bottom: 10px;
}

form p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

form label, form input{
    display: block;
    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
    
}

form input{
    height: 40px;
    border: 1px solid #333;
}

form select{
    border: 1px solid #333;
    height: 20px;
    width: 150px;
    margin-bottom: 10px;
}

form button input{
    border: none;
    width: 100px;
}

form input[type="radio"], form input[type="checkbox"]{
    width: auto;
    height: auto;
    display: inline;
}

form .meia-label{
    display: inline-block;
    width: 40%;
}

form button{
    width: 150px;
    height: 40px;
    background-color: rgb(26, 26, 68);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    display: block;

}